/* .popup-box {
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
} */
.popup-box {
    display: none;
    position: absolute;
    z-index: 1015;
    width: auto;
    padding: 10px;
    background: rgba(256,256,256,1);
    color: #000000;
    height: 100%;
    border: 1px solid #1a1a1a;
    font-size: 90%;
  }