/* .popup-box {
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
} */
.popup-box {
    display: none;
    position: absolute;
    z-index: 2000;
    width: auto;
    padding: 30px;
    background: rgba(256,256,256,1);
    color: #111;
    border: 1px solid #1a1a1a;
    font-size: 90%;
    border-radius: 30px;
    background-image: url('https://images.unsplash.com/photo-1500485035595-cbe6f645feb1?auto=format&fit=crop&w=634&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
}

 span {
  margin: 20px;
 }

.popup-box .link-check {
    font-size: 120%
    padding: 20px;
}

.popup-box .tags {
    font-size: 80%
}

.popup-box .safety-bar {
    height: 20px;
    width: 100%;
}